<div class="container">
    <h1> About Calc </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida hendrerit dui non vulputate.<br>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br>
        Maecenas aliquet velit vitae turpis ullamcorper tempus. Fusce a purus mi. Quisque volutpat semper viverra. <br>
        Integer consequat semper mi, at aliquet ex sagittis ut. Morbi porta odio ac tempor vulputate. <br>
        Curabitur egestas urna vel tellus aliquet, ut condimentum augue consequat. Integer ut magna non tellus consectetur commodo lobortis sollicitudin ex. <br>
        Nullam quis lectus ipsum. Ut at bibendum ligula, sit amet scelerisque ante. <br>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br> 
        Integer tincidunt ipsum at felis ultricies, eu pharetra massa sodales. Morbi molestie venenatis mauris vel porttitor. <br>
        Suspendisse malesuada sed dui id semper. Praesent justo ex, mollis sit amet eleifend eget, pretium id velit.<br>
        </p>

    <p> Fusce est velit, malesuada in ornare vel, efficitur id lacus. Maecenas sit amet metus tortor. <br>
        Quisque suscipit molestie ante, sed condimentum purus tempus pellentesque. Maecenas id rutrum tellus, sit amet hendrerit neque.<br> 
        Maecenas ultricies nulla tellus, ut euismod nibh ultrices ac. Curabitur laoreet et lacus elementum feugiat. <br>
        Cras a turpis consequat, cursus neque pulvinar, auctor risus. Maecenas sit amet nulla eu eros lobortis ultricies. <br>
        Cras et augue nec diam tincidunt ultricies. Duis vitae arcu tristique, scelerisque nisi sit amet, consectetur libero. <br>
        Nulla et magna tortor. Sed sed diam blandit, laoreet orci quis, faucibus elit.</p>

</div>

