<!-- <p>number works!</p> -->

<div class="container">
    <div class="row">
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-4">
        <div class="base">
          <div class="mainDisplay">
            <div class="subDisplay">{{ subText }}</div>
            {{ mainText }}
          </div>
          <div class="keyPad">
            <table style="width: 100%;">
              <tr>
                <td class="keys clearKey" colspan="3" (click)="clear()">AC</td>
                <td class="keys operatorKey" colspan="1" (click)="keyPress('/')">/</td>
              </tr>
              <tr>
                <td class="keys numbKey" (click)="keyPress('7')">7</td>  
                <td class="keys numbKey" (click)="keyPress('8')">8</td>
                <td class="keys numbKey" (click)="keyPress('9')">9</td>  
                <td class="keys operatorKey" (click)="keyPress('x')">x</td>
              </tr>
              <tr>
                <td class="keys numbKey" (click)="keyPress('4')">4</td>  
                <td class="keys numbKey" (click)="keyPress('5')">5</td>
                <td class="keys numbKey" (click)="keyPress('6')">6</td>  
                <td class="keys operatorKey" (click)="keyPress('-')">-</td>
              </tr>
              <tr>
                <td class="keys numbKey" (click)="keyPress('3')">3</td>  
                <td class="keys numbKey" (click)="keyPress('2')">2</td>
                <td class="keys numbKey" (click)="keyPress('1')">1</td>  
                <td class="keys operatorKey" (click)="keyPress('+')">+</td>
              </tr>
              <tr>
                <td colspan="2" class="keys numbKey" (click)="keyPress('0')">0</td>
                <td class="keys numbKey" (click)="keyPress('.')">.</td>  
                <td class="keys equalKey" (click)="getAnswer()">=</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4"></div> -->
    </div>
  </div>
